body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
  text-align: center;
}

.header {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
p {
  margin: 0;
  padding: 0;
}

.activity {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.awareness {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.decide {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.food {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.animal {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.btn-primary {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  width: 80%;
}

.btn-secondary {
  background-color: #f44336; /* Red */
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  width: 80%;
}